body {
	display: flex;
	background-image: url('images/movie.jpg')
}

.header h2 {
	color: white;
	font-weight: bold;
}

.header p {
	color: grey;
	font-family: fantasy;
}

.results {
	margin-top: 70px;
}

.movies-container {
	padding-left: 120px;
	background-color: rgb(66, 34, 34);
}

